<!DOCTYPE html>
{%load static%}
<html lang="en" dir="ltr">
  <head>
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "css/auth.css" %}"/>
  </head>
  <body>
    <nav class="navbar navbar-default navbar-inverse">
        <div class="container" align="center">
            <div class="navbar-header">
              <a class="navbar-brand" href="/">PENTAGONSPACE TEST</a>
            </div>
            <ul class="nav navbar-nav">
              <li><a href="/java">JAVA EXAM</a></li>
              <li><a href="/python">PYTHON EXAM</a></li>
              <li><a href="/apti">APTI EXAM</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/signup">SIGN-UP</a></li>
                <li><a href="/accounts/login/">LOG-IN</a></li>
                <li><a href="/accounts/logout/">LOG-OUT</a></li>
            </ul>
        </div>
    </nav>
    {%block for_child%}
    {%endblock%}
  </body>
</html>